.team {
	background-color: $team-bcgr-color;
	/* outline: 1px solid green; */
}

.team__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.team__list {
	display: flex;
	margin-top: 50px;
}

.card__signature {
	padding: 30px 0;
}

.card {
	margin-right: 30px;

	/* outline: 1px solid gray; */
	background-color: $white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	&:last-child {
		margin-right: 0;
	}
}

.card__name {
	text-align: center;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
}

.card__post {
	margin-top: 10px;
	text-align: center;

	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.03em;
	color: $link-color;
}

.card-social {
	display: flex;
	margin-top: 16px;
	justify-content: center;
}

.card-social__icon-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	margin-right: 10px;

	border-radius: 50%;
	color: $icon-color;

	transition: background-color 250ms $time-function, color 250ms $time-function;

	&:focus,
	&:hover {
		background-color: $accent-color;
		color: $white;
	}

	&:last-child {
		margin-right: 0;
	}
}

.card-social__icon {
	fill: currentColor;

	&:hover,
	&:focus {
		fill: currentColor;
	}
}
